<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logout Confirmation</title>
    <link rel="stylesheet" href="{% static 'feeapp/css/logout.css' %}" />
  </head>
  <body>
    <header>
      <div class="logo-container">
        {% if active_logo and active_logo.logo %}
        <img src="{{ active_logo.logo.url }}" alt="Logo" class="logo" />
        {% endif %}
      </div>
      <div class="college-name-container">
        <div class="college-name-header-text">{{ active_logo.college_name }}</div>
      </div>
      <div class="header-spacer"></div>
    </header>
    <div class="main-box">
      <div class="logout-container">
        <h2>Logout Confirmation</h2>
        <p>Are you sure you want to logout from this site?</p>
        <div class="buttons">
          <button class="yes-btn" id="yesBtn">Yes</button>
          <button class="no-btn" id="noBtn">No</button>
        </div>
      </div>
    </div>
    <script src="{% static 'feeapp/js/logout.js' %}"></script>
  </body>
</html>